* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}
form label {
    font-size: 16px;
    justify-content: center;
}
form input {
    height: 40px;
    width: 250px;
    justify-content: center;
}
form #btn-login {
    justify-content: center;
}
form a {
    justify-content: center;
    color: black;
}
#btn-login {
    width: 150px;
    border-radius: 50px;
    background-color: #1D6154;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    margin: 25px 0;
}
