* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 35px;
    margin-left: 50px;
}
form label {
    font-size: 16px;
    margin-bottom: 5px;
}
form .mail {
    position: relative;
    left: -198px;
}
form .mdp {
    position: relative;
    left: -172px;
}
form input {
    height: 40px;
    width: 100%;
    margin-bottom: 40px;
    border: none;
    box-shadow: 0 2px 5px #B1663C;
    opacity: 0.2;
}
form .btn_login {
    display: flex;
    justify-content: center;
    width: 150px;
    border: none;
    border-radius: 50px;
    background-color: #1D6154;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    opacity: 1;
    box-shadow: 0 0 0 #1D6154;
}
form a {
    font-family: 'Work Sans';
    color: black;
    margin-top: 30px;
}
.error {
    background-color: red;
    opacity: 0.6;
}
.txt_error {
    color: red;
    font-size: 18px;
}