body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


/****** EDITION PROJETS ******/
.headband {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.headband a {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
}
.headband p,
.headband .fa-regular {
    color: white;
}

.edit {
    width: 80px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: black;
    position: relative;
    top: -50px;
    left: 700px;
    text-decoration: none;
}


/****** MODALE ******/
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25%;
    left: 30%;
    width: 630px;
    height: 690px;
    background-color: white;
    padding: 20px;
    overflow: auto;
}

#modal1 .navModal {
    display: flex;
    align-items: end;
    color: black;
}

h3 {
    font-family: 'Work Sans';
    color: black;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}

.cadre-modal {
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

.modal-works {
    width: 80%;
    height: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.btnModal {
    width: 235px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    border-radius: 20px;
    border: none;
}