//********** DESIGN SYSTEM **********//

//*** Variables ***//

//Colors
$main-color: #000000;
$primary-color: #FFFFFF;
$second-color : #1D6154;
$error-color: red;

//Text Configuration
$main-font-family: 'Work Sans';
$minor-font-family: 'Syne';

$main-font-size: 14px;
$second-title-size: 30px;


//********** GENERAL **********//
section {
    margin: 50px 80px;
}

h2 {
    font-family: $minor-font-family;
    font-size: $second-title-size;
    color: $second-color;
    font-weight: 700;
    margin-bottom: 1em;
}

//Bandeau Supérieur
.headband {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    display: none;
    & .center-headband {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        & a {
            display: flex;
            flex-direction: row;
            color: $primary-color;
            gap: 5px;
            text-decoration: none;
        }
    }
}

//*** Introduction
#introduction {
	display: flex;
	align-items: center;
    & figure {
        flex: 1;
        & img {
            width: 80%;
            margin: auto;
        }
    }
    & article {
        flex: 1;
        & h2 {
            text-align: center;
        }
        & p {
            margin-bottom: 0.5em;
        }
    }
}

//*** Portfolio
.title-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    & .edit {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-bottom: 2em;
        color: $main-color;
        text-decoration: none;
        visibility: collapse;
    }
}

.filters {
    display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-bottom: 45px;
    & .btnFilter {
        font-family: $minor-font-family;
	    font-size: 16px;
	    font-weight: 600;
	    border: 2px solid;
	    border-radius: 50px;
	    color: $second-color;
	    padding: 8px 12px;
        & .filter_selected {
            color:$primary-color;
            background-color: $second-color;
        }
    }
}

.gallery {
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
    & img {
        width: 100%;
    }
    & figcaption {
        margin-top: 5px;
    }
}

//*** Contact
#contact {
    width: 50%;
    margin: auto;
    text-align: center;
    & h2 {
        margin-bottom: 20px;
    }
    & form {
        text-align: left;
	    margin-top:30px;
	    display: flex;
	    flex-direction: column;
        & label {
            margin: 2em 0 1em 0;
        }
        & input {
            height: 50px;
	        font-size: 1.2em;
	        border: none;
	        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
        }
        & textarea {
            border: none;
	        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
        }
        & input[type="submit"] {
            font-family: $minor-font-family;
        	font-weight: 700;
	        color: $primary-color;
        	background-color: $second-color;
        	margin : 2em auto;
	        width: 180px;
	        text-align: center;
	        border-radius: 60px;
        }
    }
}

//********** MODALE **********//
//*** Modale
dialog {
    width: 630px;
    height: 690px;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 20%;
    left: 30%;
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.modal-window {
    width: 570px;
    height: 630px;
    background-color: $primary-color;
    padding: 30px;
    & h3 {
        color: $main-color;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        margin: 20px 0 15px 0;
    }
    & .cadre-modal {
        border-bottom: solid 1px rgba(0, 0, 0, 0.5);
        margin-top: 40px;
        margin-bottom: 35px;
    }
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//*** Fenêtre 1
#modal1 i {
    color: $main-color;
    font-size: 24px;
    position: relative;
    right: -270px;
}

.modal-works {
    overflow: auto;
    width: 480px;
    height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
    & figure {
        width: 82px;
        height: 110px;
        & img {
            width: 100%;
            height: 100%;
        }
        & .delete {
            height: 17px;
            width: 17px;
            font-size: 12px;
            background-color: $main-color;
            color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 109px;
            left: 61px;
        }
    }
}

.btnModal {
    width: 235px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    color: $primary-color;
    background-color: $second-color;
    border-radius: 20px;
    border: none;
}

//*** Fenêtre 2
#modal2 .navModal {
    display: flex;
    justify-content: space-between;
    width: 570px;
    font-size: 24px;
}

#form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 10px;
    & .choixPhoto {
        width: 400px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #E8F1F6;
        padding: 20px;
        margin-bottom: 25px;
        & .fa-image {
            font-size: 68px;
            color: #B9C5CC;
            & .errorPhoto {
                color: $error-color;
            }
        }
        & #limiteFormat {
            font-size: 10px;
        }
        & #labelPhoto {
            width: 173px;
            height: 50px;
            border-radius: 25px;
            border: none;
            color: #306685;
            background-color: #CBD6DC;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & #miniPhoto {
            height: 150px;
            width: auto;
        }
    }
    & div {
        width: 100%;
        & label {
            position: relative;
            left: 5px;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        & input[type="text"] {
            width: 100%;
            height: 50px;
            border: none;
            margin-bottom: 15px;
            & .errorTitle {
                background-color: rgb(255, 0, 0, 0.5);
            }
        }
        & select {
            width: 100%;
            border: none;
            background: transparent;
            padding-left: 25px;
            margin: 15px 0;
            & .errorSelect {
                border: solid 1px red 0.6;
            }
        }
        #btnValider {
            width: 238px;
            height: 36px;
            font-size: 16px;
            color: $primary-color;
            background-color: #A7A7A7;
            border: none;
            border-radius: 20px;
            padding: 5px;
            position: relative;
            top: 80px;
            left: 85px;
            & .check {
                background-color: $second-color;
            }
        }
    }
}